body {
	width: 100%;
    margin: 0;
}
td {
		-webkit-transition-property: background-color;
		-webkit-transition-duration: 500ms;
	}
#header p{
	margin-left: 200;
	font-size: 26;
	margin-top: 200;
}
#menu {
  background-color: gray;
  width: 100%;
  height: 50px;
}
#menuproj {
	background-color: rgb(124, 86, 119);
	 width: 100%;
	height: 50px;
}
#menu .active, td:hover, #menuproj .active, td:hover {
	background:rgba(175, 190, 177, 0.98);
	padding-top: 0px;
	padding-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	
}
#menu a, #menuproj a {
	alignment-baseline: central;
	color: white;
	text-decoration: none;
	font-size: 18;
	display: block;
    text-align:center;
}
.bghome {
	background-image: url('pictures/wallhom.jpg');
 	height: 100%;  
	  -webkit-background-size: cover;
    	 -moz-background-size: cover;
       	   -o-background-size: cover;
        	  background-size: cover;
}
.bgproj {
	background-image: url('pictures/wallpro.jpg');
 	height: 100%;  
	  -webkit-background-size: cover;
    	 -moz-background-size: cover;
       	   -o-background-size: cover;
        	  background-size: cover;
}
.bgcont {
	background-image: url('pictures/wallcon.jpg');
 	height: 100%;  
	  -webkit-background-size: cover;
    	 -moz-background-size: cover;
       	   -o-background-size: cover;
        	  background-size: cover;
}
#foothome {
	background: rgb(226, 220, 232);
	width: 100%;
	margin-top: 720;
}
#foothome p, #footproj p, #footcont p {
	margin-left: 1200;
}
#footproj {
	 background-color: rgb(124, 86, 119);
	width: 100%;
	margin-top: 620;
	position: fixed;
}
#footcont {
	 background-color: gray;
	width: 100%;
	margin-top: 554;
}
div h1 {
	font-size: 50;
	color: rgb(147, 143, 154);
	margin-top: 0;
}
.con ul a, .con li {
	list-style-type: none;
	text-decoration: none;
	font-size: 24;
	color: blueviolet;
}

.column-left, .column-left li {
	float: left; width: 35%;
	display: initial;
	margin-top: 10;
}
.column-right, .column-right li {
	float: right; width: 35%;
	display: initial;
}
.column-center, .column-center ul { 
	display: inline-block; width: 30%;
	 list-style-type: none;
		margin-top: 15;
}
